<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MTR_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MTR_App.Properties.Settings.MTR_DatabaseConn" connectionString="Data Source=PRISM-SERVER\BMICONNECT;Initial Catalog=MTR_Database;Integrated Security=False;User ID=Sa;Password=BMI5q1d8#;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
    <add name="MTR_App.Properties.Settings.MTRInfoTablesConn" connectionString="Data Source=PRISM-SERVER\BMICONNECT;Initial Catalog=MTRInfoTables;Integrated Security=False;User ID=Sa;Password=BMI5q1d8#;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
    <add name="MTR_App.Properties.Settings.Credentials" connectionString="Data Source=PRISM-SERVER\BMICONNECT;Initial Catalog=Credentials;Integrated Security=False;User ID=Sa;Password=BMI5q1d8#;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <MTR_App.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
    </MTR_App.Properties.Settings>
  </applicationSettings>
</configuration>